.top-bar {
  background-color: #3d7aad; /* Light blue background */
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  justify-content: center;
}

.contact-info span {
  margin-right: 20px;
  font-family: "Poppins", serif;
  font-size: 16px;
}

.social-icons span {
  margin-left: 10px;
}
.svg {
  margin: 10px;
}
.a {
  color: white;
  text-decoration: none;
  margin: 10px;
}
a:hover {
  text-decoration: underline;
}
