.content {
  color: rgb(216, 216, 216);
}
@media (min-width: 992px) {
  .heading_div {
    width: 40%;
    padding: 20px;
    position: relative;
  }
  .heading_div h2 {
    font-size: 45px;
  }
  /* Top paragraph */
  .did_you_know {
    font-size: 20px;
    font-size: x-large;
    font-weight: bolder;
    font-weight: 400;
  }

  /* Step blocks */
  .step-3 {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
    top: 160px;
  }

  .step-right-2 {
    position: relative;
    width: 75%;
    align-items: center;
    display: flex;
    left: 60px;
    top: 170px;
  }
  .step-4 {
    display: flex;
    align-items: center;
    position: relative;
    width: 75%;
    left: 60px;
    top: 370px;
  }
}

em {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
}
@media (min-width: 576px) {
  .how_div {
    background-color: white;
    padding-top: 60px;
    padding: 16px;
    color: #113358;
    width: 50%;
  }
  .stepBlocks {
    margin-top: 100px;
  }
}

.how_div {
  background-color: white;
  padding-top: 60px;
  padding: 5px;
  margin-top: 60px;
  position: relative;
  margin: auto;
  color: #113358;
}

.how_div h3 {
  font-size: 23px;
}

/* How to CSS start */
.steps-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}

.step-left-1 {
  width: 30%;
  position: relative;
  top: 30px;
}
.step-right {
  width: 30%;
  position: relative;
  top: 220px;
  left: auto;
}

.content h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #003b73;
}

.step-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 10%;
  position: relative;
}

.step-number {
  background-color: #003b73;
  color: white;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.line {
  width: 2px;
  background-color: #c4c4c4;
  height: 100px;
}
.a {
  color: black;
}

@media (max-width: 768px) {
  .steps-container {
    flex-direction: column;
    align-items: center;
  }

  .step-left {
    width: 100%;
    position: absolute;
  }
  .step-right {
    width: 100%;
    position: absolute;
  }

  .step-line {
    display: none;
  }
}
/* END */
/* About US Start */
.aboutUs {
  background-color: rgb(217, 220, 221);
  width: 100%;
  overflow: hidden;
  background-attachment: scroll;
}
.aboutUs p {
  font-size: 16px;
  font-family: "Poppins";
  color: #202526;
  font-weight: 300;
}
.aboutUs h2 {
  font-size: 45px;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 72px;
  color: #347cb6;
}
.aboutUs h4 {
  font-size: 30px;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 48px;
  color: #347cb6;
}
@media (max-width: 576px) {
  .aboutUs h2 {
    font-size: 30px;
    font-family: "Poppins";
    font-weight: 700;
    line-height: 72px;
    color: #347cb6;
  }
}
@media (max-width: 768px) {
  .aboutUs h2 {
    font-size: 30px;
    font-family: "Poppins";
    font-weight: 700;
    line-height: 72px;
    color: #347cb6;
  }
}
