@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";
body {
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2,
h1,
h3 {
  font-family: "Poppins", sans-serif;
}
.heading_space {
  margin: 50px;
}
.footer {
  background-color: #173b5a;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  flex-wrap: wrap;
}
.footer div {
  margin: 15px;
}
.footer a {
  color: white;
  text-decoration: none;
  margin: 5px 0;
  display: block;
}
.footer a:hover {
  text-decoration: underline;
}
