.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 50px;
  background-color: white;
}

.logo img {
  max-width: 50%;
  height: auto;
  margin-right: 50px;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin: 0px;
  width: 15vh;
}

.nav-links a {
  text-decoration: none;
  color: darkblue;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 600;
}

.nav-links a:hover {
  text-decoration: underline;
}
